@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
body {
  font-family: "Shadows Into Light", cursive;
  background-color: rgb(58, 58, 58);
  color: aliceblue;
  text-align: center;
}

P{
    font-size: 20px;
}


a{
    color: aqua;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 30px;
}